@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#dental-records {
    color: #36BDA8;
    font-weight: 300;
}